@CHARSET "UTF-8";

html {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
    min-height: 100%;

}


header{
	color: white;
    width: 100%;
	height: 50px;
    background-color: black;
    display: flex;
}

#logo{
	width: 50px;

}

#login{
    margin-left: auto;
    width: 200px;
    color: white;
}


#loginform{


}

#main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

footer{
	color: white;
    width: 100%;
	height: 50px;
    background-color: black;
}
