@CHARSET "UTF-8";

html {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
    min-height: 100%;

}


header{
    width: 100%;
	height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
}

footer{
	color: white;
    width: 100%;
	height: 50px;
    background-color: black;
}



header #logo{
	margin-rihgt: auto;
    width: 50px;
    background-color: lightgrey;
}

.space{
	flex-grow: 1;
}

header #login{
	margin-rihgt: auto;
}



#main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menuList{
	width: 150px;
	height: 50px;

	background-color: lightgrey;
}

.menuList ul{
	margin: 0;
	padding: 0;
	width: 150px;
	height: auto;

	list-style:none;
}

.menuList li{
	width: auto;
	height: auto;
    background-color: lightgrey;
}

.menuList a{
	width: 100%;
	height: 100%;
	color: black;

	display: block;

	text-decoration:none;
}

.menuList a :link{
	color: black;
	text-decoration:none;
}

.menuList a :visted{
	color: black;
	text-decoration:none;
}

.menuList a :hover{
	color: black;
	text-decoration:none;
}

.menuList a :active{
	color: black;
	text-decoration:none;
}



.menuList li:hover{
	background-color: #80ffff;
}

#orderList ul{
	list-style:none;
}

#orderList a{
	width: 100%;
	height: 100%;
	color: black;

	display: block;


	text-decoration:none;
}

#orderList a :hover{
	color: black;
	text-decoration:none;

}

#orderList a :link{
	color: black;
	text-decoration:none;

}

#orderList a :visited{
	color: black;
	text-decoration:none;

}

#orderList a :active{
	color: black;
	text-decoration:none;

}

#orderList :hover{
	background-color: #80ffff;
}


.title{
	font-weight: bold;
	font-size: 13px;
}



#login form{
    flex-direction: column;
}

#itemInfo th{
	width: 70px;
}

#itemInfo tr :nth-child(1){
	width: 70px;
}

#itemInfo tr :nth-child(2){
	width: 130px;
}
#itemInfo tr :nth-child(3){
	width: 70px;
}

#itemInfo tr :nth-child(4){
	width: 70px;
}
#itemInfo tr :nth-child(5){
	width: 70px;
}
#itemInfo tr :nth-child(6){
	width: 50px;
}

#itemInfo tr :last-child{
	width: 110px;
}

#form ul{
	list-style: none;
	margin: 0;
	padding: 0;
}



#userInfo table{
	border: solid 1px black;
    font-size: 11px;
    width: 300px;
}

#userInfo th{
    background-color: lightgrey;
	width: 100px;
    border: solid 1px black;
}

#userInfo table tr{
    border: solid 1px black;
}

#userInfo table td{
    border: solid 1px black;
}

#idCheck{
	color: red;
}

#itemList{
	 flex-direction: column;
}

#itemInfoValue{
	background-color: gray;
}

#itemInfoValueOdd{

}



.userInfoTable{
	display: flex;
	flex-direction: row;
}

.itemInfoTable{
	display: flex;
	flex-direction: row;
}

.accordion label {
	display: block;
	margin: 5px 0px;
	padding: 0.5em 1em;
	background-color: #e0e0ff;
	border-radius: 0.5em;
	cursor: pointer;
}

.accordionbox input+label div {
	opacity: 0;
	padding: 0px 0px;
	height: 0px;
	font-weight: 100;
	overflow: hidden;
}

.accordionbox input:checked+label div {
	opacity: 1;
	padding: 5px 0px;
	height: auto;
	font-weight: 700;
}

.accordionbox div {
	transition: all 0.3s ease-out 0s;
}

#cardInfo{
    width: auto;

}

#cardInfo select{
	height: 26px;
     line-height: 26px;
}


.orderList table{
	width: 100px;
	height: 300px;

}
