@CHARSET "UTF-8";

html {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
    min-height: 100%;

}


header{
    width: 100%;
	height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
}

footer{
	color: white;
    width: 100%;
	height: 50px;
    background-color: black;
}



header #logo{
	margin-rihgt: auto;
    width: 50px;
    background-color: lightgrey;
}

.space{
	flex-grow: 1;
}

header #login{
	margin-rihgt: auto;
    width: 50px;
    background-color: lightgrey;
}



#main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#first{

}

#second{

}



#login form{
    flex-direction: column;
}


#form ul{
	list-style: none;
	margin: 0;
	padding: 0;
}



#userInfo table{
	border: solid 1px black;
    font-size: 11px;
    width: 300px;
}

#userInfo th{
    background-color: lightgrey;
	width: 100px;
    border: solid 1px black;
}

#userInfo table tr{
    border: solid 1px black;
}

#userInfo table td{
    border: solid 1px black;
}

#idCheck{
	color: red;
}

#itemList{
	 flex-direction: column;
}

#itemInfoValue{
	background-color: gray;
}

#itemInfoValueOdd{

}

.userInfoTable{
	display: flex;
	flex-direction: row;
}

.itemInfoTable{
	display: flex;
	flex-direction: row;
}

.accordion label {
	display: block;
	margin: 5px 0px;
	padding: 0.5em 1em;
	background-color: #e0e0ff;
	border-radius: 0.5em;
	cursor: pointer;
}

.accordionbox input+label div {
	opacity: 0;
	padding: 0px 0px;
	height: 0px;
	font-weight: 100;
	overflow: hidden;
}

.accordionbox input:checked+label div {
	opacity: 1;
	padding: 5px 0px;
	height: auto;
	font-weight: 700;
}

.accordionbox div {
	transition: all 0.3s ease-out 0s;
}

#cardInfo{
    width: auto;

}

#cardInfo select{
	height: 26px;
     line-height: 26px;
}
